<ng-container *ngIf="match">
  <a class="match-item" [routerLink]="'/match/' + match.id">
    <div class="match-item-startTime">{{match.startTime | date: 'dd.MM.yyyy HH:mm'}}</div>
    <ng-container *ngIf="match.result">
      <div class="match-item-result">
        <span>{{match.result.homeTeamGoals}} : {{match.result.awayTeamGoals}}</span>
      </div>
    </ng-container>
    <div class="match-item-image">
      <img [src]="'https://github.com/PiotrMichalowski96/bet-microservices/blob/graphics/doc/graphics/' + match.homeTeam + '-' + match.awayTeam + '.png?raw=true'">
    </div>
    <div class="match-item-title">{{match.homeTeam}} vs {{match.awayTeam}}</div>
  </a>
</ng-container>
