@import "../../../styles/colors";

.match-item {
  position: relative;
  display: block;
  min-height: 325px;
  border-radius: 5px;
  background-color: $bgColorLight;
  border: 1px solid $lightGrey;

  &-startTime {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    height: 20px;
  }

  &-image {
    img {
      width: 100%;
      border-radius: 5px;
      height: 275px;
      object-fit: cover;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0.5rem;
    height: 30px;
  }
}
