<div class="container">
  <h2>My Own Bets</h2>
  <p-carousel [value]="myOwnBets" [numVisible]="3" [numScroll]="3" *ngIf="myOwnBets.length != 0"
              [responsiveOptions]="responsiveOptions">
    <ng-template let-myBet pTemplate="bet">
      <app-bet [bet]="myBet"></app-bet>
    </ng-template>
  </p-carousel>
  <h2>All Bets</h2>
  <div class="grid">
    <div class="col-6 md:col-3 lg:col-2" *ngFor="let bet of allBets">
      <app-bet [bet]="bet"></app-bet>
    </div>
  </div>
  <div>
    <p-paginator [rows]="20" [totalRecords]="10000" (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>
