<ng-container *ngIf="bet">
  <a class="bet-item" [routerLink]="'/bet/' + bet.id">
    <div class="bet-item-user">{{bet.user.firstName}} {{bet.user.lastName}}</div>
    <div class="bet-item-matchTime">{{bet.match.startTime | date: 'dd.MM.yyyy HH:mm'}}</div>
    <div class="bet-item-result">
      <ng-container *ngIf="bet.match.result">
        <span>Result</span>
        <span>{{bet.match.result.homeTeamGoals}} : {{bet.match.result.awayTeamGoals}}</span>
      </ng-container>
      <span>Predictions</span>
      <span>{{bet.matchPredictedResult.homeTeamGoals}} : {{bet.matchPredictedResult.awayTeamGoals}}</span>
    </div>
    <div class="bet-item-image">
      <img [src]="'https://github.com/PiotrMichalowski96/bet-microservices/blob/master/doc/graphics/' + bet.match.homeTeam + '-' + bet.match.awayTeam + '.png?raw=true'" >
    </div>
    <div class="bet-item-match">{{bet.match.homeTeam}} vs {{bet.match.awayTeam}}</div>
  </a>
</ng-container>

