<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no", name="viewport">
  <title>Match management dashboard</title>
</head>

<body>
  <div class="container-fluid">
    <h3>Match management dashboard</h3>
    <div class="float-left" th:text="'Last load: ' + ${#calendars.format(#calendars.createNow(), 'dd MM yyyy HH:mm:ss')}"/>
  </div>

  <br/>

  <table class="table table-bordered table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th colspan="7" scope="col" class="text-center"><span>Matches</span></th>
      </tr>
      <tr>
        <th scope="col" class="align-middle"><span class="col text-center">Home team</span></th>
        <th scope="col" class="align-middle"><span class="col text-center">Away team</span></th>
        <th scope="col" class="align-middle"><span class="col text-center">Match start time</span></th>
        <th scope="col" class="align-middle"><span class="col text-center">Round name</span></th>
        <th scope="col" class="align-middle"><span class="col text-center">Round start time</span></th>
        <th scope="col" class="align-middle"><span class="col text-center">Home team goals</span></th>
        <th scope="col" class="align-middle"><span class="col text-center">Away team goals</span></th>
      </tr>
    </thead>
    <tbody>
      <th:block th:if="not ${matchDetails.getMatches().isEmpty()}">
        <th:block th:each="match : ${matchDetails.getMatches()}">

          <tr>
            <td>
              <div class="col text-center">
                <span th:text="${match.getHomeTeam()}" style="font-size: 12px" />
              </div>
            </td>
            <td>
              <div class="col text-center">
                <span th:text="${match.getAwayTeam()}" style="font-size: 12px" />
              </div>
            </td>
            <td>
              <div class="col text-center">
                <span th:text="${match.getStartTime()}" style="font-size: 12px" />
              </div>
            </td>
            <td>
              <div class="col text-center">
                <span th:text="${match.getRound().getRoundName()}" style="font-size: 12px" />
              </div>
            </td>
            <td>
              <div class="col text-center">
                <span th:text="${match.getRound().getStartTime()}" style="font-size: 12px" />
              </div>
            </td>
            <td>
              <div class="col text-center">
                <span th:text="${match.getResult().getHomeTeamGoals()}" style="font-size: 12px" />
              </div>
            </td>
            <td>
              <div class="col text-center">
                <span th:text="${match.getResult().getAwayTeamGoals()}" style="font-size: 12px" />
              </div>
            </td>
          </tr>

        </th:block>
      </th:block>
    </tbody>
  </table>
</body>

</html>