<!DOCTYPE html>


<html lang="en" class="light-style  customizer-hide" dir="ltr" data-theme="theme-default"
      data-assets-path="assets/"
      data-template="vertical-menu-template-no-customizer" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">


<head>
  <meta charset="utf-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>Match management dashboard</title>

  <meta name="description" content=""/>

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}"/>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet">

  <!-- Core CSS -->
  <link rel="stylesheet" th:href="@{/assets/vendor/css/core.css}"/>
  <link rel="stylesheet" th:href="@{/assets/vendor/css/theme-default.css}"/>
  <link rel="stylesheet" th:href="@{/assets/css/demo.css}"/>
</head>

<body>

<div class="container flex-grow-1 container-p-y my-2">
  <h3>Dashboard matches</h3>

  <div class="row mt-sm-4 mt-3">

    <div class="col-12 mb-3">
      <div class="card">

        <h5 class="card-header">Matches</h5>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Home Team</th>
            <th scope="col">Away Team</th>
            <th scope="col">Match Start Time</th>
            <th scope="col">Round Name</th>
            <th scope="col">Round Start Time</th>
            <th scope="col">Home Team Goals</th>
            <th scope="col">Away Team Goals</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <th:block th:if="not ${matches.isEmpty()}">
              <th:block th:each="match : ${matches}">
                <tr>
                  <td><span th:text="${match.homeTeam}"/></td>
                  <td><span th:text="${match.awayTeam}"/></td>
                  <td><span th:text="${#temporals.format(match.startTime, 'dd-MM-yyyy HH:mm')}"/></td>
                  <td><span th:text="${match.round.roundName}"/></td>
                  <td><span th:text="${#temporals.format(match.round.startTime, 'dd-MM-yyyy HH:mm')}"/></td>
                  <td><span th:text="${match.result?.homeTeamGoals}"/></td>
                  <td><span th:text="${match.result?.awayTeamGoals}"/></td>
                  <td>
                    <a th:href="@{'/dashboard/match/' + ${match.id}}" target="_blank" class="btn btn-danger">Edit</a>
                  </td>
                </tr>
              </th:block>
            </th:block>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-12 mb-3">
      <div class="upgrade-to-pro">
        <a th:href="@{/dashboard/match/create}"
           target="_blank"
           class="btn btn-danger">Add new match</a>
      </div>
    </div>
  </div>
</div>

</body>

</html>